#testimonials {
  .copyright {
    display: none;
  }
}

.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}


.bold-text {
  text-align: center!important;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
}

.app__profile-item {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}