#home {
  position: relative;
  background: url('https://images.unsplash.com/photo-1618220179428-22790b461013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  flex-direction: row;
  margin-left: 3rem;

  @media screen and (min-width: 2000px) {
    padding-top: 6rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  height: 80%;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;

  a {
    text-decoration: none;
    color: #56653e;
  }

  .badge-cmp,
  .tag-cmp {
    text-align: center;
    background: var(--white-color);
    border-radius: 15px;
    opacity: 0.7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin: 0.5rem 0;
  }
  span {
    font-size: 2rem;
    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-right: 3rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.8;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
      margin: 20%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 80px;
    height: 80px;
  }

  div:nth-child(2) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(3) {
    width: 60px;
    height: 60px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  img {
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
