@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #f4f4f4;
  --secondary-color: #454545;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #454545;
  --brown-color: #7C7C7C;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  letter-spacing: 0.5px;
}